# Backend
BACKEND_PORT=7878

# Frontend
FRONTEND_ADDRESS=http://localhost:3000

# Redis Database
REDIS_ADDRESS=redis://127.0.0.1/

# PostgreSQL Database
POSTGRES_HOST=localhost
POSTGRES_USER=postgres

# JWT
JWT_SECRET=ZaEzzLniQicOviAHS0LDkoZWRw9lGexB9TbPwMl8q/k=
ACCESS_TOKEN_EXPIRS_IN_SECONDS=900
REFRESH_TOKEN_EXPIRS_IN_SECONDS=1209600

# Mail Server
SMTP_SERVER=smtp.your-email-provider.com
# Common ports: 587 (TLS), 465 (SSL), 25 (non-secure)
SMTP_PORT=587
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_email_password
SMTP_FROM_ADDRESS=no-reply@yourdomain.co
