# Backend Server
BACKEND_PORT=7878

# Frontend Server
FRONTEND_ADDRESS=http://localhost:3000

# Postgres Database Server
POSTGRES_DATABASE_URL=postgres://postgres@localhost/backend

# Mail Server
SMTP_SERVER=smtp.your-email-provider.com
SMTP_PORT=587                     # Common ports: 587 (TLS), 465 (SSL), 25 (non-secure)
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_email_password
SMTP_FROM_ADDRESS=no-reply@yourdomain.co
